{%- assign emptyarray = "" | split: "," -%}

{%- assign data = site.data[include.data] | default: site[include.data] | default: emptyarray -%}
{%- assign fundings = site.fundings | default: emptyarray -%}
{%- assign component = include.component | append: ".html" -%}

{%- assign funding = nil -%}
{%- if include.lookup -%}
  {%- for f in data -%}
    {%- if f.id == include.lookup or f.title contains include.lookup -%}
      {%- assign funding = f -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- assign funding = include -%}
{%- endif -%}

{%- assign years = data | group_by_exp: "d", "d.start_date | date: '%Y'" | sort: "title" | reverse -%}

{%- for year in years -%}

{%- assign items = year.items -%}

{%- if years.size > 1 -%}
  <h3 id="{{ year.name }}">{{ year.name }}</h3>
  {%- assign items = items | sort: "date" | reverse -%}
{%- endif -%}

	{%- for d in items -%}
		{%- assign link = d.link | default: d.url -%}
		{%- assign style = d.style | default: include.style -%}

	  	{%-
		    include {{ component }}
		    additional_information=d.additional_information
		    amount=d.amount
		    author=d.author
		    authors=d.authors
		    award=d.award
		    caption=d.caption
		    content=d.content
		    date=d.date
		    description=d.description
		    end_date=d.end_date
		    extra-links=d.extra-links
		    height=d.height
		    icon=d.icon
		    id=d.id
		    image=d.image
		    link=link
		    publisher=d.publisher
		    repo=d.repo
		    role=d.role
		    slug=d.slug
		    start_date=d.start_date
		    style=style
		    subtitle=d.subtitle
		    tags=d.tags
		    title=d.title
		    text=d.text
		    tooltip=d.tooltip
		    type=d.type
		    url=d.url
		    width=d.width
	  	-%}
	{%- endfor -%}
{%- endfor -%}
