{%- if include.style == "small" -%}
  {%- assign width = 100 -%}
{%- else -%}
  {%- assign width = 150 -%}
{%- endif -%}

{%- assign emptyarray = "" | split: "," -%}

{%- assign id = include.slug | default: include.id | default: "" -%}
{%- assign members = site.members | default: emptyarray -%} 

{%- assign member = nil -%}
{%- for m in members -%}
  {%- if m.slug == id -%}
    {%- assign member = m -%}
  {%- endif -%}
{%- endfor -%}

{%- assign url = member.url | default: "" -%}
<!-- {%- assign url = member.links.home-page | default: "" -%} -->

{::nomarkdown}
<span class="portrait" style="--width: {{ width }}px">
  <a {% if url %}href="{{ url | relative_url }}"{% endif %} class="portrait_image">

    {%- assign placeholder = "images/placeholder.svg" | relative_url -%}

    {%- assign role = member.role | default: "" -%}
    <!-- {%- if role -%} -->
      <!-- {%- include role.html type=role -%} -->
    <!-- {%- endif -%} -->
      
    {%- assign image = member.image | default: "" -%}
    <!-- <span class=""> -->
      <img
        src="{{ image | relative_url }}"
        onerror="this.src = '{{ placeholder }}'; this.onerror = null;"
        loading="lazy"
        alt="{{ name | default: 'Member portrait' }}"
      >
    <!-- </span> -->
  </a>

  {%- assign name = member.name | default: "" -%}
  {%- if name -%}
    <span class="portrait_name">
      {{ name }}
    </span>
  {%- endif -%}

  {%- assign enrollment_year = member.enrollment_year | default: "" -%}
  {%- if enrollment_year -%}
    <span class="portrait_enrollment_year">
      {{ enrollment_year }}
    </span>
  {%- endif -%}

  {%- assign description = member.description | default: "" -%}
  {%- if description -%}
    <span class="portrait_description">
      {{ description }}
    </span>
  {%- endif -%}

  {%- assign affiliation = member.affiliation | default: "" -%}
  {%- if affiliation -%}
    <span class="portrait_affiliation">
      {{ affiliation }}
    </span>
  {%- endif -%}


  {%- assign twitter_key = "twitter" | default: "" -%}
  {%- assign type = site.data.links[twitter_key] -%}
  <!-- {%- assign link = member.links.twitter -%} -->
  <!-- {%- include link.html type=twitter_key icon="" text="" tooltip="" link=twitter_value -%} -->

  {%- if type and member.links.twitter -%}
    {%- assign icon = type.icon -%}
    {%- assign text = type.text -%}
    {%- assign tooltip = type.tooltip -%}
    {%- assign link = type.link | replace: "$LINK", member.links.twitter -%}

    <!-- {%- assign flip = include.flip | default: false -%} -->
    <a class="link" href="{{ link | relative_url }}" {% if tooltip %}data-tooltip="{{ tooltip }}"{% endif %} {% if icon %}data-icon="true"{% endif %} {% if text %}data-text="true"{% endif %} data-style="{{ include.style | default: '' }}">
      {%- if icon contains "fa-" -%}
        <i class="{{ icon }} fa-lg {% if text == nil %}fa-fw{% endif %}"></i>
      {%- elsif icon -%}
        {% include {{ icon }} %}
      {%- endif -%}
      {%- if text -%}
        <span class="portrait_twitter">{{ text }}</span>
      {%- endif -%}
    </a>
  {%- else -%}
    <span class="portrait_twitter_disabled">
      <i class="fab fa-twitter" style="color:#767676"></i>
      Twitter
    </span>
  {%- endif -%}

  {%- assign scholar_key = "google-scholar" | default: "" -%}
  {%- assign type = site.data.links[scholar_key] -%}
  <!-- {%- assign link = member.links.twitter -%} -->
  <!-- {%- include link.html type=twitter_key icon="" text="" tooltip="" link=twitter_value -%} -->

  {%- if type and member.links.google_scholar -%}
    {%- assign icon = type.icon -%}
    {%- assign text = type.text -%}
    {%- assign tooltip = type.tooltip -%}
    {%- assign link = type.link | replace: "$LINK", member.links.google_scholar -%}

    <!-- {%- assign flip = include.flip | default: false -%} -->
    <a class="link" href="{{ link | relative_url }}" {% if tooltip %}data-tooltip="{{ tooltip }}"{% endif %} {% if icon %}data-icon="true"{% endif %} {% if text %}data-text="true"{% endif %} data-style="{{ include.style | default: '' }}">
      {%- if icon contains "fa-" -%}
        <i class="{{ icon }} fa-lg {% if text == nil %}fa-fw{% endif %}"></i>
      {%- elsif icon -%}
        {% include {{ icon }} %}
      {%- endif -%}
      {%- if text -%}
        <span class="portrait_scholar">{{ text }}</span>
      {%- endif -%}
    </a>
  {%- else -%}
    <span class="portrait_scholar_disabled">
      <i class="fab fa-twitter" style="color:#767676"></i>
      Google Scholar
    </span>
  {%- endif -%}
</span>

{:/}
